USE [BI_MIP]
GO
/****** Object:  Table [miBuilds].[rpt_Cashflow_SMB_ENT]    Script Date: 1/8/2019 3:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [miBuilds].[rpt_Cashflow_SMB_ENT](
	[Record_Id] [int] IDENTITY(1,1) NOT NULL,
	[Probuild_Id] [int] NULL,
	[Cashflow_Category] [varchar](50) NULL,
	[Month_0] [decimal](20, 2) NULL,
	[Month_1] [decimal](20, 2) NULL,
	[Month_2] [decimal](20, 2) NULL,
	[Month_3] [decimal](20, 2) NULL,
	[Month_4] [decimal](20, 2) NULL,
	[Month_5] [decimal](20, 2) NULL,
	[Month_6] [decimal](20, 2) NULL,
	[Month_7] [decimal](20, 2) NULL,
	[Month_8] [decimal](20, 2) NULL,
	[Month_9] [decimal](20, 2) NULL,
	[Month_10] [decimal](20, 2) NULL,
	[Month_11] [decimal](20, 2) NULL,
	[Month_12] [decimal](20, 2) NULL,
	[Month_13] [decimal](20, 2) NULL,
	[Month_14] [decimal](20, 2) NULL,
	[Month_15] [decimal](20, 2) NULL,
	[Month_16] [decimal](20, 2) NULL,
	[Month_17] [decimal](20, 2) NULL,
	[Month_18] [decimal](20, 2) NULL,
	[Month_19] [decimal](20, 2) NULL,
	[Month_20] [decimal](20, 2) NULL,
	[Month_21] [decimal](20, 2) NULL,
	[Month_22] [decimal](20, 2) NULL,
	[Month_23] [decimal](20, 2) NULL,
	[Month_24] [decimal](20, 2) NULL,
	[Month_25] [decimal](20, 2) NULL,
	[Month_26] [decimal](20, 2) NULL,
	[Month_27] [decimal](20, 2) NULL,
	[Month_28] [decimal](20, 2) NULL,
	[Month_29] [decimal](20, 2) NULL,
	[Month_30] [decimal](20, 2) NULL,
	[Month_31] [decimal](20, 2) NULL,
	[Month_32] [decimal](20, 2) NULL,
	[Month_33] [decimal](20, 2) NULL,
	[Month_34] [decimal](20, 2) NULL,
	[Month_35] [decimal](20, 2) NULL,
	[Month_36] [decimal](20, 2) NULL,
	[Month_37] [decimal](20, 2) NULL,
	[Month_38] [decimal](20, 2) NULL,
	[Month_39] [decimal](20, 2) NULL,
	[Month_40] [decimal](20, 2) NULL,
	[Month_41] [decimal](20, 2) NULL,
	[Month_42] [decimal](20, 2) NULL,
	[Month_43] [decimal](20, 2) NULL,
	[Month_44] [decimal](20, 2) NULL,
	[Month_45] [decimal](20, 2) NULL,
	[Month_46] [decimal](20, 2) NULL,
	[Month_47] [decimal](20, 2) NULL,
	[Month_48] [decimal](20, 2) NULL,
	[Month_49] [decimal](20, 2) NULL,
	[Month_50] [decimal](20, 2) NULL,
	[Month_51] [decimal](20, 2) NULL,
	[Month_52] [decimal](20, 2) NULL,
	[Month_53] [decimal](20, 2) NULL,
	[Month_54] [decimal](20, 2) NULL,
	[Month_55] [decimal](20, 2) NULL,
	[Month_56] [decimal](20, 2) NULL,
	[Month_57] [decimal](20, 2) NULL,
	[Month_58] [decimal](20, 2) NULL,
	[Month_59] [decimal](20, 2) NULL,
	[Month_60] [decimal](20, 2) NULL,
	[Month_61] [decimal](20, 2) NULL,
	[Month_62] [decimal](20, 2) NULL,
	[Month_63] [decimal](20, 2) NULL,
	[Month_64] [decimal](20, 2) NULL,
	[Month_65] [decimal](20, 2) NULL,
	[Month_66] [decimal](20, 2) NULL,
	[Month_67] [decimal](20, 2) NULL,
	[Month_68] [decimal](20, 2) NULL,
	[Month_69] [decimal](20, 2) NULL,
	[Month_70] [decimal](20, 2) NULL,
	[Month_71] [decimal](20, 2) NULL,
	[Month_72] [decimal](20, 2) NULL,
	[Month_73] [decimal](20, 2) NULL,
	[Month_74] [decimal](20, 2) NULL,
	[Month_75] [decimal](20, 2) NULL,
	[Month_76] [decimal](20, 2) NULL,
	[Month_77] [decimal](20, 2) NULL,
	[Month_78] [decimal](20, 2) NULL,
	[Month_79] [decimal](20, 2) NULL,
	[Month_80] [decimal](20, 2) NULL,
	[Month_81] [decimal](20, 2) NULL,
	[Month_82] [decimal](20, 2) NULL,
	[Month_83] [decimal](20, 2) NULL,
	[Month_84] [decimal](20, 2) NULL,
	[Month_85] [decimal](20, 2) NULL,
	[Month_86] [decimal](20, 2) NULL,
	[Month_87] [decimal](20, 2) NULL,
	[Month_88] [decimal](20, 2) NULL,
	[Month_89] [decimal](20, 2) NULL,
	[Month_90] [decimal](20, 2) NULL,
	[Month_91] [decimal](20, 2) NULL,
	[Month_92] [decimal](20, 2) NULL,
	[Month_93] [decimal](20, 2) NULL,
	[Month_94] [decimal](20, 2) NULL,
	[Month_95] [decimal](20, 2) NULL,
	[Month_96] [decimal](20, 2) NULL,
	[Month_97] [decimal](20, 2) NULL,
	[Month_98] [decimal](20, 2) NULL,
	[Month_99] [decimal](20, 2) NULL,
	[Month_100] [decimal](20, 2) NULL,
	[Month_101] [decimal](20, 2) NULL,
	[Month_102] [decimal](20, 2) NULL,
	[Month_103] [decimal](20, 2) NULL,
	[Month_104] [decimal](20, 2) NULL,
	[Month_105] [decimal](20, 2) NULL,
	[Month_106] [decimal](20, 2) NULL,
	[Month_107] [decimal](20, 2) NULL,
	[Month_108] [decimal](20, 2) NULL,
	[Month_109] [decimal](20, 2) NULL,
	[Month_110] [decimal](20, 2) NULL,
	[Month_111] [decimal](20, 2) NULL,
	[Month_112] [decimal](20, 2) NULL,
	[Month_113] [decimal](20, 2) NULL,
	[Month_114] [decimal](20, 2) NULL,
	[Month_115] [decimal](20, 2) NULL,
	[Month_116] [decimal](20, 2) NULL,
	[Month_117] [decimal](20, 2) NULL,
	[Month_118] [decimal](20, 2) NULL,
	[Month_119] [decimal](20, 2) NULL,
	[Month_120] [decimal](20, 2) NULL,
	[Month_121] [decimal](20, 2) NULL,
	[Month_122] [decimal](20, 2) NULL,
	[Month_123] [decimal](20, 2) NULL,
	[Month_124] [decimal](20, 2) NULL,
	[Month_125] [decimal](20, 2) NULL,
	[Month_126] [decimal](20, 2) NULL,
	[Month_127] [decimal](20, 2) NULL,
	[Month_128] [decimal](20, 2) NULL,
	[Month_129] [decimal](20, 2) NULL,
	[Month_130] [decimal](20, 2) NULL,
	[Month_131] [decimal](20, 2) NULL,
	[Month_132] [decimal](20, 2) NULL,
	[Month_133] [decimal](20, 2) NULL,
	[Month_134] [decimal](20, 2) NULL,
	[Month_135] [decimal](20, 2) NULL,
	[Month_136] [decimal](20, 2) NULL,
	[Month_137] [decimal](20, 2) NULL,
	[Month_138] [decimal](20, 2) NULL,
	[Month_139] [decimal](20, 2) NULL,
	[Month_140] [decimal](20, 2) NULL,
	[Month_141] [decimal](20, 2) NULL,
	[Month_142] [decimal](20, 2) NULL,
	[Month_143] [decimal](20, 2) NULL,
	[Month_144] [decimal](20, 2) NULL,
	[Month_145] [decimal](20, 2) NULL,
	[Month_146] [decimal](20, 2) NULL,
	[Month_147] [decimal](20, 2) NULL,
	[Month_148] [decimal](20, 2) NULL,
	[Month_149] [decimal](20, 2) NULL,
	[Month_150] [decimal](20, 2) NULL,
	[Month_151] [decimal](20, 2) NULL,
	[Month_152] [decimal](20, 2) NULL,
	[Month_153] [decimal](20, 2) NULL,
	[Month_154] [decimal](20, 2) NULL,
	[Month_155] [decimal](20, 2) NULL,
	[Month_156] [decimal](20, 2) NULL,
	[Month_157] [decimal](20, 2) NULL,
	[Month_158] [decimal](20, 2) NULL,
	[Month_159] [decimal](20, 2) NULL,
	[Month_160] [decimal](20, 2) NULL,
	[Month_161] [decimal](20, 2) NULL,
	[Month_162] [decimal](20, 2) NULL,
	[Month_163] [decimal](20, 2) NULL,
	[Month_164] [decimal](20, 2) NULL,
	[Month_165] [decimal](20, 2) NULL,
	[Month_166] [decimal](20, 2) NULL,
	[Month_167] [decimal](20, 2) NULL,
	[Month_168] [decimal](20, 2) NULL,
	[Month_169] [decimal](20, 2) NULL,
	[Month_170] [decimal](20, 2) NULL,
	[Month_171] [decimal](20, 2) NULL,
	[Month_172] [decimal](20, 2) NULL,
	[Month_173] [decimal](20, 2) NULL,
	[Month_174] [decimal](20, 2) NULL,
	[Month_175] [decimal](20, 2) NULL,
	[Month_176] [decimal](20, 2) NULL,
	[Month_177] [decimal](20, 2) NULL,
	[Month_178] [decimal](20, 2) NULL,
	[Month_179] [decimal](20, 2) NULL,
	[Month_180] [decimal](20, 2) NULL,
	[Deleted] [int] NULL,
	[DeletedBy] [varchar](100) NULL,
	[DeletedOn] [datetime] NULL,
 CONSTRAINT [PK_rpt_Cashflow_SMB_ENT_Record_Id] PRIMARY KEY CLUSTERED 
(
	[Record_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
