USE [BI_MIP]
GO
/****** Object:  Table [miBuilds].[lk_Term_Length]    Script Date: 1/8/2019 3:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [miBuilds].[lk_Term_Length](
	[Term_Length_Id] [int] IDENTITY(1,1) NOT NULL,
	[Term] [varchar](100) NULL,
	[IsActive] [int] NULL,
	[AddedOn] [datetime] NULL,
	[AddedBy] [varchar](100) NULL,
	[EditedOn] [datetime] NULL,
	[EditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_lk_Term_Length_Term_Length_Id] PRIMARY KEY CLUSTERED 
(
	[Term_Length_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
